
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  width: 100%;
}
body, html{
  margin:0;
  padding:0;
}

body {
  background-color: #EDEEEF;
}

h1 {
  font-family: 'Lobster Two', cursive;
  // font-family: 'Rubik', sans-serif;
  text-align: center;
  margin-top: -34px;
}

header{
  background-color: #446B99;
  height: 60px;
}

i{
  color: #446B99;
  background-color: #082238;
  padding: 10px;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 70px;
}
  i:hover {
    background-color: #a366ff;
  }

.form-control {
  border-radius: 0px;
}

.formArea {
  background-color: #FFF;
  // width: 1175px;
  // margin-left: -120px;
  padding: 50px;
  padding-bottom: 90px;
}
.form-group {
  width: 800px;
  margin-left: 120px;
}
label {
  font-family: 'Rubik', sans-serif;
}

.btn-default {
  color: #FFF;
  background:#446B99;
  font-family: 'Lobster Two', cursive;
  // font-family: 'Rubik', sans-serif;
  padding: 14px;
  float:right;
  width: 180px;
  font-size: 20px;
}
.btn-default:hover{
  background: #a366ff;
  color: #FFF;
}

.topButton{
  background: #17AA56;
}

.btn-primary {
  font-family: 'Lobster Two', cursive;
  // font-family: 'Rubik', sans-serif;
  background: #80ccff;
  border: #80ccff;
  padding: 14px;
  width:100px;
  margin-left: 240px;
  margin-top: 1px;
  color: #FFF;
  font-size: 20px;
}
.btn-primary:hover {
  background: #a366ff;
}

.caption {
  font-family: 'Rubik', sans-serif;
  text-align: center;
}

.thumbnail {
  box-shadow: 3px 5px 6px 2px #ccc;
  border-radius: 2px;
}
